html {
  font-size: 14px;
  line-height: 1.5;
  font-family: sans-serif;

  * {
    font: inherit;
  }
}

.iconButton {
  $size: 32px;
  width: $size;
  height: $size;
  line-height: $size;
  font-size: .8em;
  background-color: #e1e1e1;
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-block;
  font-weight: 700;
}

.app {
  text-align: center;
  padding-left: 2vw;
  padding-right: 2vw;
  overflow-x: hidden;
}

header {
  box-sizing: border-box;
  background-color: #000;
  padding: 2vw;
  color: white;
  margin-left: -2vw;
  width: 102vw;

  h1 {
    font-size: 1em;

    .fa {
      color: #fff;
      margin-left: 20px;
      font-size: 2em;
      vertical-align: middle;
    }
  }
}

button {
  border: 1px solid #e1e1e1;
}

.fullScreen {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
  }
}

.overlay {
  background-color: rgba(#fff, .8);
  opacity: 0;
  visibility: hidden;
  transition: .3s opacity;
  text-transform: uppercase;

  @extend .fullScreen;

  &.active {
    opacity: 1;
    visibility: visible;
  }

}

.landscapeHint {
  @extend .overlay;
  background-color: rgba(#000, .8);
  color: #fff;
  font-size: 3.5vw;

  .inner {
    width: 95%;
  }
}

@media (max-width: 768px) and (orientation : landscape) {
  html {
    overflow: hidden;
  }
  .landscapeHint {
    opacity: 1;
    visibility: visible;
  }
}

.scores {
  padding: 20px 0;
  font-size: .8em;
}

.tiles {
  max-width: 450px;
  margin: 0 auto;
  background-color: #e1e1e1;
  padding: 1% 0;

  .tile {
    width: 22%;
    margin: 1%;
    box-sizing: border-box;
    display: inline-block;
    background-color: #fff;
    transition: .2s;
    font-weight: 700;
    font-size: 1.5em;

    &-2 {
      background-color: hsl(50%, 255, 90%);
    }

    &-4 {
      background-color: hsl(50%, 255, 80%);
    }

    &-8 {
      background-color: hsl(50%, 255, 75%);
    }

    &-16 {
      background-color: hsl(50%, 255, 70%);
    }

    &-32 {
      background-color: hsl(50%, 255, 65%);
    }

    &-64 {
      background-color: hsl(50%, 255, 60%);
    }

    &-128 {
      background-color: hsl(50%, 255, 55%);
    }

    &-256 {
      background-color: hsl(50%, 255, 50%);
    }

    &-512 {
      background-color: hsl(50%, 255, 45%);
    }

    &-1024 {
      background-color: hsl(50%, 255, 40%);
    }

    &-2048 {
      background-color: hsl(50%, 255, 35%);
    }

    .inner {
      padding-bottom: 100%;
      position: relative;

      .value {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.bottom {
  margin-top: 15px;

  .iconWrapper {
    display: inline-block;
    margin: 5px 2.5px;

    &.mobile {
      display: none;
    }

    .title {
      font-weight: 700;
    }

    .iconButton {
      margin: 2px;
    }
  }
}
@media (max-width: 1024px) {
  .bottom {
    .iconWrapper {
      &.desktop {
        display: none;
      }

      .title {
        display: none;
      }
    }
  }
}

@media (max-width: 600px) {
  .game {
    max-width: 95vw;
  }
}
