html {
  font-size: 14px;
  line-height: 1.5;
  font-family: sans-serif; }
  html * {
    font: inherit; }

.iconButton {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: .8em;
  background-color: #e1e1e1;
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-block;
  font-weight: 700; }

.app {
  text-align: center;
  padding-left: 2vw;
  padding-right: 2vw;
  overflow-x: hidden; }

header {
  background-color: #000;
  padding: 2vw;
  color: white;
  margin-left: -2vw;
  width: 102vw; }
  header h1 {
    font-size: 1em; }

button {
  border: 1px solid #e1e1e1; }

.fullScreen, .overlay, .landscapeHint {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }
  .fullScreen .inner, .overlay .inner, .landscapeHint .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700; }

.overlay, .landscapeHint {
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: .3s opacity;
  text-transform: uppercase; }
  .overlay.active, .active.landscapeHint {
    opacity: 1;
    visibility: visible; }

.landscapeHint {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 3.5vw; }
  .landscapeHint .inner {
    width: 95%; }

@media (max-width: 768px) and (orientation: landscape) {
  html {
    overflow: hidden; }
  .landscapeHint {
    opacity: 1;
    visibility: visible; } }

.scores {
  padding: 20px 0;
  font-size: .8em; }

.tiles {
  max-width: 450px;
  margin: 0 auto;
  background-color: #e1e1e1;
  padding: 1% 0; }
  .tiles .tile {
    width: 22%;
    margin: 1%;
    box-sizing: border-box;
    display: inline-block;
    background-color: #fff;
    transition: .2s;
    font-weight: 700;
    font-size: 1.5em; }
    .tiles .tile-2 {
      background-color: #fff7cc; }
    .tiles .tile-4 {
      background-color: #ffee99; }
    .tiles .tile-8 {
      background-color: #ffea80; }
    .tiles .tile-16 {
      background-color: #ffe666; }
    .tiles .tile-32 {
      background-color: #ffe14d; }
    .tiles .tile-64 {
      background-color: #ffdd33; }
    .tiles .tile-128 {
      background-color: #ffd91a; }
    .tiles .tile-256 {
      background-color: #ffd500; }
    .tiles .tile-512 {
      background-color: #e6bf00; }
    .tiles .tile-1024 {
      background-color: #ccaa00; }
    .tiles .tile-2048 {
      background-color: #b39500; }
    .tiles .tile .inner {
      padding-bottom: 100%;
      position: relative; }
      .tiles .tile .inner .value {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }

.bottom {
  margin-top: 15px; }
  .bottom .iconWrapper {
    display: inline-block;
    margin: 5px 2.5px; }
    .bottom .iconWrapper.mobile {
      display: none; }
    .bottom .iconWrapper .title {
      font-weight: 700; }
    .bottom .iconWrapper .iconButton {
      margin: 2px; }

@media (max-width: 1024px) {
  .bottom .iconWrapper.desktop {
    display: none; }
  .bottom .iconWrapper .title {
    display: none; } }

@media (max-width: 600px) {
  .game {
    max-width: 95vw; } }
