:root {
  --fontColor: #000;
  --fontSize: 14px; }

html {
  font-size: var(--fontSize);
  line-height: 1.5;
  font-family: sans-serif;
  color: var(--fontColor); }
  html * {
    font: inherit; }

h1,
h2 {
  font-weight: 700; }

h1 {
  font-size: 1.2em; }

h2 {
  font-size: 1.15em;
  text-transform: uppercase; }

a {
  text-decoration: none; }
  a:active, a:visited {
    font: inherit;
    color: inherit; }

.iconWrapper {
  display: inline-block;
  margin: 5px 2.5px; }
  .iconWrapper.mobile {
    display: none; }
  .iconWrapper .title {
    font-weight: 700; }
  .iconWrapper .iconButton {
    margin: 2px; }

.iconButton {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: .8em;
  background-color: #e1e1e1;
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-block;
  font-weight: 700; }

.cur {
  cursor: pointer; }

.wrap {
  max-width: 450px;
  margin: 0 auto; }

.app {
  overflow-x: hidden; }
  @media (max-width: 500px) {
    .app {
      padding: 0 2vw 2vw; } }

header {
  border-bottom: 1px solid rgba(204, 204, 204, 0.4);
  line-height: 40px; }
  header .wrap {
    position: relative;
    overflow: auto; }
  header h1 {
    margin: 0;
    float: left;
    padding-right: 35px; }
  header .help {
    font-size: 20px;
    position: absolute;
    top: 2px;
    right: 0; }

.bottom {
  padding-top: 15px;
  text-align: right; }
  .bottom .fa {
    vertical-align: middle;
    font-size: 2em; }

.fullScreen, .overlay, .landscapeHint,
.helper {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }
  .fullScreen .inner, .overlay .inner, .landscapeHint .inner,
  .helper .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700; }

.overlay, .landscapeHint,
.helper {
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: .3s opacity;
  text-transform: uppercase;
  text-align: center; }
  .overlay.active, .active.landscapeHint,
  .active.helper {
    opacity: 1;
    visibility: visible; }

.landscapeHint,
.helper {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff; }
  .landscapeHint .inner,
  .helper .inner {
    width: 95%; }

.landscapeHint {
  font-size: 3.5vw;
  z-index: 2; }

.helper {
  z-index: 1;
  opacity: 1;
  visibility: visible;
  text-transform: none; }
  .helper .rules,
  .helper .motions {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding-bottom: 20px; }
    .helper .rules h2,
    .helper .motions h2 {
      display: inline-block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
  .helper .rules ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .helper .iconButton {
    color: black; }
  .helper .iconWrapper {
    margin: 2%; }
  .helper .wrap {
    position: relative;
    padding-top: 20px; }
  .helper .bottom {
    margin-top: 20px;
    text-transform: uppercase; }

.infoBar {
  padding: 20px 0;
  overflow: auto; }

.tiles {
  background-color: #e1e1e1;
  box-sizing: border-box;
  padding: .5% .5% 0;
  box-shadow: 0 0 10px 1px #ccc;
  border: 1px solid #ccc; }
  .tiles .tile {
    box-shadow: inset 0 0 1px 1px #ccc;
    width: 23%;
    margin: .5% 1%;
    box-sizing: border-box;
    display: inline-block;
    background-color: #fff;
    transition: .2s;
    font-weight: 700;
    font-size: 1.5em; }
    .tiles .tile-2 {
      background-color: #fff7cc; }
    .tiles .tile-4 {
      background-color: #ffee99; }
    .tiles .tile-8 {
      background-color: #ffea80; }
    .tiles .tile-16 {
      background-color: #ffe666; }
    .tiles .tile-32 {
      background-color: #ffe14d; }
    .tiles .tile-64 {
      background-color: #ffdd33; }
    .tiles .tile-128 {
      background-color: #ffd91a; }
    .tiles .tile-256 {
      background-color: #ffd500; }
    .tiles .tile-512 {
      background-color: #e6bf00; }
    .tiles .tile-1024 {
      background-color: #ccaa00; }
    .tiles .tile-2048 {
      background-color: #b39500; }
    .tiles .tile .inner {
      padding-bottom: 100%;
      position: relative; }
      .tiles .tile .inner .value {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }

@media (max-width: 1024px) {
  .iconWrapper.desktop {
    display: none; }
  .iconWrapper .title {
    display: none; } }

@media (max-width: 768px) and (orientation: landscape) {
  html {
    overflow: hidden; }
  .landscapeHint {
    opacity: 1;
    visibility: visible; } }
